
@font-face {
  font-family: 'Gerbil';
  src: url('/assets/Gerbil.ttf') format('truetype');
}

@font-face {
  font-family: 'Man';
  src: url('/assets/Man.ttf') format('truetype');
}
@font-face {
  font-family: 'Monument';
  src: url('/assets/MonumentExtendedRegular.otf') format('opentype');
}
@font-face {
  font-family: 'Woodland';
  src: url('/assets/WoodlandLight.otf') format('opentype');
}
@font-face {
  font-family: 'Woodland-Bold';
  src: url('/assets/WoodlandBold.otf') format('opentype');
}
@font-face {
  font-family: 'Kayak Sans Regular';
  src: url('/assets/Kayak Sans Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Face';
  src: url('/assets/NeutralFace.otf') format('opentype');
}
@font-face {
  font-family: 'March';
  src: url('/assets/March.otf') format('opentype');
}


html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  background-image: var(--background-image);
  color: var(--primary-text-color);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box; 
}

.App {
  background-color: var(--background);
  color: var(--primary-text-color);
  transition: background-color 0.5s ease-in-out;
}

.App {
  filter: contrast(100%) brightness(100%);
  background-image: var(--background-image);
}

.App [data-theme='dark'] {
  filter: contrast(100%) brightness(100%);
  background-image: var(--background-image);
}

.home-wrapper {
  @media screen and (max-width: 1200px) {
    margin-top: 10vh;
  }
}

.home-container {
  display: flex;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: auto;

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    margin-top: 20%;
  }
}

.home-content {
  padding-left: 3vh;
  width: 30%;
  max-width: 50vw;
  min-width: 120px;

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 12px;
    padding-left: 2.5vh;
    margin: 0;
    min-width: fit-content
  }
}


@media screen and (min-width: 2000px) {
  .home-content {
    padding-top: 20%;
  }
  }

h2 {
  font-family: 'March', sans-serif;
  font-weight: 100;
  letter-spacing: 4px;
  margin: 0px;
  font-size: 8vh;
}

p {
  font-family: 'Kayak Sans Regular', sans-serif;
  font-weight: 400;
  margin-bottom: 1px;
  font-size: 1.6vh;
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 10vh;
    max-width: 80%;
  }
}

.home-p {
    font-family: 'Face', sans-serif;
    font-weight: 400;
    margin-bottom: 1px;
    font-size: 2vh;

    @media screen and (max-width: 1200px)  {
      font-size: 1vh;
      max-width: 60%;
      margin-top: 0.5vh;
    }

    @media screen and (min-width: 999px)  {
      font-size: 1.8vh;
      min-width: 60%;
      margin-top: 0.5vh;
    }
}

.headline-p {
  font-family: 'Kayak Sans Regular', sans-serif;
  font-weight: 400;
  margin-bottom: 1px;

  @media screen and (max-width: 1200px)  {
    font-size: 1.5vh;
    min-width: fit-content;
    margin-top: 0.5vh;
  }

  @media screen and (min-width: 999px)  {
    font-size: 2.2vh;
    min-width: fit-content;
    margin-top: 0.5vh;
  }
}

.main-link {
  animation: animate 3s linear;
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  100% {
    animation-play-state: paused;
    opacity: 1;
  }
}

a.link {
  font-family: 'March', sans-serif;
  letter-spacing: 0.5rem;
  color: var(--primary-text-color);
  text-align: left;
  font-size: 24vh;
  line-height: .95em;
  text-decoration: none;
  display: block;
  position: relative;
  animation: letterspacing 1s alternate cubic-bezier(.2, 0, 0, 1);
  -webkit-animation: letterspacing 1s alternate cubic-bezier(.2, 0, 0, 1);
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: ranslate3d(-50%, -50%, 0);


  @media screen and (max-width: 1200px) {
    font-size: 10vh;
  }
}

@keyframes letterspacing {
  0% {
    letter-spacing: -5rem;
    filter: blur(0.5rem);
  }

  50% {
    filter: blur(0.5rem);
  }
}

.link:hover {
  font-style: italic;
}

.nav-container {
  margin-left: 60px;
  margin-right: 40px;

  @media screen and (max-width: 1200px) {
    margin: 0;
    display: flex;
    justify-content: start;
    padding-top: 5vh;
    padding-left: 2.5vh
  }
}


@media screen and (min-width: 2000px) {
  .nav-container {
    margin: 0;
    display: flex;
    justify-content: start;
    padding-top: 6vh;
    padding-left: 2.5vh;
  }
  }
 
.navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: justify;
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 6vh;
  padding-top: 20px;
  padding-left: 30px;

  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: row;
    width: auto;
    padding-top: 3rem;
    padding-left: 0.9rem;
  }
}

a.side-link {
  transform: rotate(270deg);
  padding: 40px 0px 70px 0px;
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: 'Face', sans-serif;
  font-weight: 400;
  font-size: 1vw;

  @media screen and (max-width: 1200px) {
    transform: none;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 10px;
    font-size: 3.5vw;
  }
}

.side-link:hover {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

.nav-link {
  text-decoration: none;
  transform: rotate(270deg);
  padding: 60px 0px 90px 60px;
}

.prof-span {
  font-family: 'Woodland-Bold', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2.2vh;

  @media screen and (max-width: 1200px) {
    font-size: 2vh;
  }
}
