/* font-family: 'Bungee Hairline', sans-serif;
font-family: 'Gayathri', sans-serif;
font-family: 'Lexend Tera', sans-serif;
font-family: 'Metrophobic', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'MuseoModerno', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace;
font-family: 'Space Mono', monospace; */


html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #ECE7E1;
  color: #1A1818;

  @media screen and (max-width:1200px) {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
  }
}

.home-container {
  display: flex;
  min-width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: auto;

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    height: 100vh;
  }
}

.home-content {
  padding-top: 20vh;
  width: 30%;
  max-width: 50vw;
  min-width: 120px;

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 12px;
    margin: 0;
    min-width: 50vw;
  }
}

h2 {
  font-family: 'MuseoModerno', sans-serif;
  font-weight: 400;
  margin: 0px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 1px;
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 5vw;
  }

  p {
    font-size: 2.6vw;
  }
}

.main-link {
  animation: animate 3s linear;
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  100% {
    animation-play-state: paused;
    opacity: 1;
  }
}

a.link {
  z-index: 100;
  font-family: 'Gayathri', sans-serif;
  color: #1a1818;
  text-align: left;
  font-size: 24vh;
  font-weight: 300;
  line-height: .95em;
  text-decoration: none;
  /* transition: transform .3s ease-in-out, color .3s ease-in-out, font-size .3s ease-in-out; */
  display: block;
  position: relative;
  animation: letterspacing 1s alternate cubic-bezier(.2, 0, 0, 1);
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);


  @media screen and (max-width: 1200px) {
    font-size: 10vh;
  }
}

@keyframes letterspacing {
  0% {
    letter-spacing: -5rem;
    filter: blur(0.5rem);
  }

  50% {
    filter: blur(0.5rem);
  }
}

.link:hover {
  font-style: italic;
}

.nav-container {
  margin-left: 60px;
  margin-right: 40px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: justify;
}

.side-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  color: #ECE7E1;

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 34vw;
  }
}

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 6vh;
  padding-top: 20px;
  padding-left: 30px;

  @media screen and (max-width: 1200px) {
    display: flex;
    flex-direction: row;
    width: auto;
    padding-top: 20px;
    padding-left: 12px;
  }
}

a.side-link {
  transform: rotate(270deg);
  padding: 40px 0px 70px 0px;
  text-decoration: none;
  color: #1A1818;
  font-family: 'Gayathri', sans-serif;
  font-weight: 400;
  font-size: 1vw;

  @media screen and (max-width: 1200px) {
    transform: none;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 10px;
    font-size: 3.5vw;
  }
}

.side-link:hover {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #1a181896;
}

.nav-link {
  text-decoration: none;
  transform: rotate(270deg);
  padding: 60px 0px 90px 60px;
  color: #1A1818;
}

.prof-span {
  font-family: 'MuseoModerno', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1vw;
}