/* background-color: #ECE7E1; - lauren
color: #1A1818; - black
##D6C9C9; - timbeerwolf
#FFFCF2 - floral white
#E9D3D0; - misty rose
#403D39; - black olive
#D5C5C8; - french gray
#BBC5AA - ash gray
#F5D0C5 - rosy brown
#86615C - rose taupe
#D64550 - og toggle
#BFACC8 - thistle
 */




:root {
    --background: #D5C5C8;
    --primary-text-color: #252422;
    --toggle-bg: #1C2826;
    --toggle-fg: #E3DE8F;
    --image: url('./dark.png') ;
    --background-image: url('./wb5.png');
    --light-link-color:#252422;
    --dark-link-color: #86615C; 
    --light-button-bg: #252422;
    --light-button-color: #E9D3D0;
  }
  [data-theme='dark'] {
    --background: #252422;
    --primary-text-color: #86615C;
    --toggle-bg: #E3DE8F;
    --toggle-fg: #1C2826;
    --image: url('./day-and-night.png');
    --background-image: url('./wb.png');
    --dark-button-bg: #86615C; 
    --dark-button-color: #252422;
  }
  [data-theme='dark'] a {
    color: var(--dark-link-color);
  }
  a {
    color: var(--light-link-color);
  }
  [data-theme='dark'] a:hover {
    color: var(--dark-link-color);
  }
  a {
    color: var(--light-link-color);
  }