html {
  height: 100%;
  height: -webkit-fill-available;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  background-image: var(--background-image);
  color: var(--primary-text-color);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: var(--background);
  background-image: var(--background-image);
}

.App {
  background-color: var(--background);
  color: var(--primary-text-color);
  transition: background-color 0.5s ease-in-out;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

:root {
    --background: #D5C5C8;
    --primary-text-color: #252422;
    --toggle-bg: #1C2826;
    --toggle-fg: #E3DE8F;
    --background-image: url('/assets/wb.png');
    --light-link-color:#252422;
    --dark-link-color: #86615C; 
    --light-button-bg: #252422;
    --light-button-color: #E9D3D0;
  }
  [data-theme='dark'] {
    --background: #252422;
    --primary-text-color: #86615C;
    --toggle-bg: #E3DE8F;
    --toggle-fg: #1C2826;
    --background-image: url('/assets/wb.png');
    --dark-button-bg: #86615C; 
    --dark-button-color: #252422;
  }
  [data-theme='dark'] a {
    color: var(--dark-link-color);
  }
  a {
    color: var(--light-link-color);
  }
  [data-theme='dark'] a:hover {
    color: var(--dark-link-color);
  }
  a {
    color: var(--light-link-color);
  }