/* font-family: 'Gayathri', sans-serif;
font-family: 'Lexend Tera', sans-serif;
font-family: 'Metrophobic', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'MuseoModerno', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Space Mono', monospace; */



.about-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 10%;

    @media screen and (max-width: 1200px) {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        padding: 20px;
    }
}

a.home-link {
    transform: rotate(270deg);
    padding: 10px 0px 70px 0px;
    text-decoration: none;
    color: #1A1818;
    font-family: 'Lexend Tera', sans-serif;
    font-weight: 200;
    font-size: 1.5vh;

    @media screen and (max-width: 1200px) {
        transform: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0 12vw;
        font-size: 3.5vw;
    }
}

a.home-link:hover {
    transform: rotate(270deg);
    padding: 10px 0px 70px 0px;
    text-decoration: line-through;
    color: #1A1818;
    font-family: 'Lexend Tera', sans-serif;
    font-weight: 300;
    font-size: 1.5vh;

    @media screen and (max-width: 1200px) {
        transform: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0 12vw;
        font-size: 3.5vw;
    }
}

.home-sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 12vh;
}

.header-wrapper {
    padding: 0;
    margin: 0;
    width: auto;
    height: 1vh;
}

.about-content {
    margin: 10vh;

    @media screen and (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        padding-right: 12px;;
    }
}

.about {
    font-family: 'Gayathri', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 28vh;

    @media screen and (max-width: 1200px) {
        font-size: 20vw;
    }
}

span {
    font-size: 24vh;

    @media screen and (max-width: 1200px) {
        font-size: 30vw;
    }
}

/* 
.about {
    animation: animate 5s linear;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    100% {
        animation-play-state: paused;
        opacity: 1;
    }
} */

.about-img-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.about-blurb-container {
    padding-bottom: 20px;

    @media screen and (max-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 100px;
        font-size: 2vw;
        margin: 0;
    }
}

.about-h3 {
    font-family: 'MuseoModerno', sans-serif;
    padding-top: 20px;
    font-weight: 300;
    font-size: 1vw;
    max-width: 60%;
    margin-top: -130px;
    
    @media screen and (max-width: 1200px) {
        padding-top: 60px;
        font-size: 2vw;
        margin: 0;
        max-width: 100%;
    }
}

.image-container {
    position: absolute;
    margin-left: 900px;
    padding-right: 20px;

    @media screen and (max-width: 1200px) {
        padding-right: 40px;
        margin-left: 850px;
    }
}

.headshot {
    /* position: relative;
    margin-left: 200px; */
    height: 400px;
    width: 300px;
    border-radius: 1px;

    @media screen and (max-width: 1200px) {
        display: flex;
        justify-content: center;
        margin: 10%;
    }
}


.headshot {
    animation: animate 1s linear;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    100% {
        animation-play-state: paused;
        opacity: 1;
    }
}

.experience {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 2.3vw;
    font-style: italic;

    @media screen and (max-width: 1200px) {
        padding-bottom: 20px;
    }
}

.experience-header {
    padding-bottom: 20px;

    @media screen and (max-width: 1200px) {
        font-size: 5vw;
    }
}


span.about-exp {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vh;

    @media screen and (max-width: 1200px) {
        font-size: 2vw;
    }
}

.experience-content {
    padding-bottom: 12px;

    @media screen and (max-width: 1200px) {
        padding-bottom: 24px;
    }
}

.content-exp {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vh;

    @media screen and (max-width: 1200px) {
        font-size: 2vw;
    }
}

.resume-btn-wrapper {
    padding-top: 24px;

    @media screen and (max-width: 1200px) {
        padding-bottom: 24px;
    }
}

.resume-btn {
    font-family: 'MuseoModerno', sans-serif;
    font-weight: 200;
    text-decoration: none;
    background-color: #1A1818;
    color: #ECE7E1;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    transition: padding .5s ease-in-out;
}

.resume-btn:hover {
    font-family: 'MuseoModerno', sans-serif;
    background-color: #1A1818;
    color: #ECE7E1;
    border: none;
    border-radius: 50px;
    padding-left: 80px;
    padding-right: 80px;
}


