/* font-family: 'Smythe', sans-serif;
font-family: 'Gayathri', sans-serif;
font-family: 'Lexend Tera', sans-serif;
font-family: 'Metrophobic', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'MuseoModerno', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace;
font-family: 'Space Mono', monospace;
font-family: 'IBM Plex', sans;
font-family: 'IBM Plex', monospace;
font-family: 'Space Grotesk', sans-serif; */
.App {
  background-color: var(--background);
  color: var(--primary-text-color);
  transition: background-color 0.25s ease-in-out;
}

.about-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 10%;
    min-height: 100vh;


    @media screen and (max-width: 1200px) {
        display: flex;
        justify-content: center;
        min-height: 100vh;
        width: fit-content;
        padding: 5vw;
        padding-top: 80px;
    }
}

a.home-link {
    transform: rotate(270deg);
    padding: 10px 0px 70px 0px;
    text-decoration: none;
    font-family: 'Lexend Tera', sans-serif;
    font-weight: 200;
    font-size: 1.5vh;

    @media screen and (max-width: 1200px) {
        transform: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0 12vw;
        font-size: 3.5vw;
    }
}

a.home-link:hover {
    transform: rotate(270deg);
    padding: 10px 0px 70px 0px;
    text-decoration: line-through;
    font-family: 'Lexend Tera', sans-serif;
    font-weight: 300;
    font-size: 1.5vh;

    @media screen and (max-width: 1200px) {
        transform: none;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0 12vw;
        font-size: 3.5vw;
    }
}

.home-sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 12vh;

    @media  screen and (max-width: 1200px) {
        padding-top: 40px;
    }
}

.header-wrapper {
    padding: 0;
    margin: 0;
    width: auto;
    height: 1vh;
}

.about-content {
    margin: 10vh;

    @media screen and (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        padding-right: 12px;;
    }
}

.about {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    align-items: center;
    font-family: 'Gayathri', sans-serif;
    font-weight: 300;
    font-size: 34vh;

    @media screen and (max-width: 1200px) {
        font-size: 20vw;
    }
}

span.text {
    font-size: 2vh;

    @media screen and (max-width: 1200px) {
        font-size: 10vh;
    }
}


.about {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
    animation-iteration-count: 1;
    animation-delay: 2s;
}

@keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(8%);
    }
    65% {
      transform: translateY(-4%);
    }
    80% {
      transform: translateY(4%);
    }
    95% {
      transform: translateY(-2%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
    }
    50% {
      -webkit-transform: translateY(8%);
    }
    65% {
      -webkit-transform: translateY(-4%);
    }
    80% {
      -webkit-transform: translateY(4%);
    }
    95% {
      -webkit-transform: translateY(-2%);
    }
    100% {
      -webkit-transform: translateY(0%);
    }
  }

  .about.visible {
    opacity: 1;
  }

.about-img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.about-blurb-container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;

    @media screen and (max-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 100px;
        font-size: 2vw;
        margin: 0;
        width: 100%;
    }
}

.about-h3 {
    display: inline;
    font-family: 'MuseoModerno', sans-serif;
    padding-top: 20px;
    font-weight: 300;
    font-size: 2.25vh;
    max-width: 60%;
    margin-top: -130px;
    
    @media screen and (max-width: 1200px) {
        padding-top: 60px;
        font-size: 1.6vh;
        margin: 0;
        max-width: 100%;
    }
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;

    @media screen and (max-width: 1200px) {
        padding-right: 40px;
        margin-left: 0; 
    }
}

.headshot {
    /* position: relative;
    margin-left: 200px; */
    height: 400px;
    width: 300px;
    border-radius: 1px;

    @media screen and (max-width: 1200px) {
        margin: 10%;
        padding-top: 4vw;
        height: 266px;
    width: 200px;
    border-radius: 1px;
    }
}


.headshot {
    animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
  animation-iteration-count: 1;
  animation-delay: none;
}

@keyframes fadeIn {
    0% {
      transform: scale(0);
      opacity: 0.0;
    }
    60% {
      transform: scale(1.1);
    }
    80% {
      transform: scale(0.9);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      -webkit-transform: scale(0);
      opacity: 0.0;
    }
    60% {
      -webkit-transform: scale(1.1);
    }
    80% {
      -webkit-transform: scale(0.9);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 1;
    }
  }

.experience {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 2.3vw;
    font-style: italic;

    @media screen and (max-width: 1200px) {
        padding-bottom: 20px;
    }
}

.experience-header {
    padding-bottom: 20px;

    @media screen and (max-width: 1200px) {
        font-size: 5vw;
    }
}


span.about-exp {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vh;

    @media screen and (max-width: 1200px) {
        font-size: 1.5vh;
    }
}

.experience-content {
    padding-bottom: 12px;

    @media screen and (max-width: 1200px) {
        padding-bottom: 24px;
    }
}

.content-exp {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0.5em;
    font-size: 1.5vh;
  
    @media screen and (max-width: 1200px) {
        font-size: 1.5vh;
    }
}

.resume-btn-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;

    @media screen and (max-width: 1200px) {
        padding-bottom: 24px;
    }
}

.resume-btn {
    font-family: 'MuseoModerno', sans-serif;
    font-weight: 200;
    text-decoration: none;
    background-color: var(--light-button-bg);
    color: var(--light-button-color);
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    transition: padding .5s ease-in-out;
}

.resume-btn:hover {
    font-family: 'MuseoModerno', sans-serif;
    background-color: var(--light-button-bg);
    color: var(--light-button-color);
    border: none;
    border-radius: 50px;
    padding-left: 80px;
    padding-right: 80px;
}

[data-theme='dark'] .resume-btn,
[data-theme='dark'] .resume-btn:hover {
  background-color: var(--dark-button-bg);
  color: var(--dark-button-color);
}

