/* font-family: 'Gayathri', sans-serif;
font-family: 'Lexend Tera', sans-serif;
font-family: 'Metrophobic', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'MuseoModerno', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Space Mono', monospace; */


.contact-wrapper {

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
  height: 100vh;

    @media screen and (max-width: 1200px) {
      min-height: 100vh;
      padding-left: 10px;
      }
}

a.home-link {
    transform: rotate(270deg);
    padding: 10px 0px 70px 0px;
    text-decoration: none;
    color: #1A1818;
    font-family: 'Gayathri', sans-serif;
    font-weight: 200;
    font-size: 2vh;

    @media  screen and (max-width: 1200px) {
      transform: none;
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin: 0 12vw;
      font-size: 3.5vw;
  }
}

a.home-link:hover {
  transform: rotate(270deg);
  padding: 10px 0px 70px 0px;
  text-decoration: line-through;
  color: #1A1818;
  font-family: 'Gayathri', sans-serif;
  font-weight: 300;
  font-size: 2vh;
  
  @media  screen and (max-width: 1200px) {
    transform: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 12vw;
    font-size: 3.5vw;
}
}

.home-sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 12vw;
  height: 12vh;

  @media  screen and (max-width: 1200px) {
    padding-top: 40px;
}
}

.header-wrapper {
  padding: 0;
  margin: 0;
  width: auto;
  height: 1vh;
}

.contact-content {
  padding-top: 10vh;
  display: grid;
  place-items: center;
  padding: 10px;


  @media screen and (max-width: 1200px) {
    height: 100vh;
  }
}

.contact-content-container {


  @media screen and (max-width: 1200px) {
    padding: 0vw 5vw;
  }
}

  .hello{
    font-family: 'Syne', sans-serif; 
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size:  40vh;

    @media screen and (max-width: 1200px) {
      display: flex;
      justify-content: start;
      font-size: 30vw;
    }
  }

  .hello {
    animation: animate 2s linear;
    font-family: 'Gayathri', sans-serif;
  }
  
  @keyframes animate {
    0% { 
      opacity: 0; 
    }
    100% {
      animation-play-state: paused;
       opacity: 1; 
      }
  }
  
  ul {
   font-family: 'Gayathri', sans-serif;
    font-style: italic;
    font-weight: 100;
    padding: 0px;
    margin: 0px;
    padding-top: 12px;
  }

  .about-p {
    font-family: 'MuseoModerno', sans-serif;
    font-weight: 200;
    font-size: 2vh;
    margin-top: -80px;
    padding: 0;

    @media screen and (max-width: 1200px) {
      font-size: 2.3vh;
    }
  }
  
  .li-contact {
    font-style: normal;
    list-style: none;
  
    @media screen and (max-width: 1200px) {
      padding-top: 12px;
      font-size: 3vh;
    }
  }
  
  .li-link {
    font-family: 'Gayathri', sans-serif;
    font-style: italic;
    color: #1A1818;
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .li-link:hover {
    color: #1A1818;
    text-decoration: line-through;
  }
  
  .hero-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px;
    letter-spacing: 2px;
  }

  span.text {
    font-family: 'Gayathri', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 1200px) {
      font-size: 34vw;
    }
  }

  span {
    font-size: 40vh;

    @media screen and (max-width: 1200px) {
      font-size: 40vw;
    }
  }