/* font-family: 'Smythe', sans-serif;
font-family: 'Gayathri', sans-serif;
font-family: 'Lexend Tera', sans-serif;
font-family: 'Metrophobic', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'MuseoModerno', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace;
font-family: 'Space Mono', monospace;
font-family: 'IBM Plex', sans;
font-family: 'IBM Plex', monospace;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Syne', sans-serif; */


.work-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
}

.work-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0vw 5vw;
  }
}


.home-link {
  transform: rotate(270deg);
  padding: 10px 0px 70px 0px;
  text-decoration: none;
  font-family: 'Lexend Tera', sans-serif;
  font-weight: 200;
  font-size: 1.5vh;

  @media screen and (max-width: 1200px) {
    transform: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 12vw;
    font-size: 3.5vw;
  }
}

.home-link:hover {
  transform: rotate(270deg);
  padding: 10px 0px 70px 0px;
  text-decoration: line-through;
  color: #ECE7E1;
  font-family: 'Lexend Tera', sans-serif;
  font-weight: 300;
  font-size: 1.5vh;

  @media screen and (max-width: 1200px) {
    transform: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 12vw;
    font-size: 3.5vw;
  }

}

.home-sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 12vw;
  height: 12vh;
}

.header-wrapper {
  padding: 0;
  margin: 0;
  width: auto;
  height: 1vh;
}

.work-content {
  position: fixed;
  top: 60%;
  transform: translateY(-50%);
  width: 50%;
  margin: 0;
  left: 3%;
  z-index: 1;


  @media screen and (max-width: 1200px) {
    position: static;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 18vh;
    width: 100%;
    transform: translateY(0);
  }
}

h1 {
  display: flex;
  justify-content: start;
  font-family: 'Gayathri', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 12vh;
  width: max-content;

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: start;
    font-size: 11vh;
  }
}

.work-list {
  margin: 20px auto;
  padding-top: 80px;
  max-width: 40%;
  margin-left: 55%;

  @media screen and (max-width:1200px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 12rem;
    margin: 0 auto;
    max-width: 100%;
    font-size: 3vh;
  }
}

.work-li:not(.animation-complete) {
  filter: blur(5px);
}

.work-li {
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  list-style: none;
  font-weight: 100;
  text-decoration: none;
  font-size: 4vh;
  padding-top: 12px;
  margin-bottom: -20px;
  visibility: visible !important;
  animation-delay: none;
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  filter: blur(5px);
  animation: fadeInText 2s forwards;
  
  @media screen and (max-width: 1200px) {
    padding-top: 12px;
    font-size: 6vh;
  }

  @media screen and (max-width: 800px) {
    animation: none;
    padding-top: 12px;
    font-size: 6vh;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.work-li .title {
  font-size: 4vh;
  font-weight: 500;
}

.work-li span {
  transition:  500ms ease;
}

@media screen and (max-width: 1000px) {

.work-li .arrow {
  display: none;
}
}

.arrow {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 4vh;
  transition: transform 1000ms ease;
}

.work-li:hover .arrow {
  transform: translate(8px);
}

.work-container {
  display: flex;
  justify-content: justify;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 48px;
  border: 2px solid;
  /* border-radius: 5px; */
  min-width: 75%;


  @media screen and (max-width: 1200px) {
    padding: 30px 16px;
  }
}

.work-container:hover{
  border-radius: 5px;
	box-shadow: -6px 6px 1px 0px;
  transition: box-shadow 300ms ease 0s, transform 300ms ease 0s;
  transform: translate(4px, -4px);
}


p.work-p {
  font-family: 'MuseoModerno', sans-serif;
  font-weight: 200;
  font-size: 2vh;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 4px;

  @media screen and (max-width: 1200px) {
    font-size: 2vh;
    margin-bottom: 40px;
  }
}

.work-li-p {
  font-family: 'Space Mono', monospace;
  font-style: italic;
  margin: 0;
  font-size: 1.7vh;

  @media screen and (max-width: 1200px) {
    font-size: 2vh;
  }
}

.work-p-container {
  padding-top: 1.2rem;
}

.work-li-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 2vh;
  padding: 6px 0px;

  @media screen and (max-width: 1200px) {
    padding-top: 60px;
    font-size: 2vh;
  }
}

.li-work {
  font-style: normal;
  list-style: none;
  font-size: 2vh;

  @media screen and (max-width: 1200px) {
    padding-top: 12px;
    font-size: 3vh;
  }
}

.work-ul {
  padding-top: 2rem;
}