/* font-family: 'Smythe', sans-serif;
font-family: 'Gayathri', sans-serif;
font-family: 'Lexend Tera', sans-serif;
font-family: 'Metrophobic', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'MuseoModerno', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace;
font-family: 'Space Mono', monospace;
font-family: 'IBM Plex', sans;
font-family: 'IBM Plex', monospace;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Syne', sans-serif; */


.work-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
}

.work-content-wrapper {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0vw 5vw;
  }
}


.home-link {
  transform: rotate(270deg);
  padding: 10px 0px 70px 0px;
  text-decoration: none;
  font-family: 'Lexend Tera', sans-serif;
  font-weight: 200;
  font-size: 1.5vh;

  @media screen and (max-width: 1200px) {
    transform: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 12vw;
    font-size: 3.5vw;
  }
}

.home-link:hover {
  transform: rotate(270deg);
  padding: 10px 0px 70px 0px;
  text-decoration: line-through;
  font-family: 'Lexend Tera', sans-serif;
  font-weight: 300;
  font-size: 1.5vh;

  @media screen and (max-width: 1200px) {
    transform: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 12vw;
    font-size: 3.5vw;
  }
}

.home-sidebar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 12vw;
  height: 12vh;

  @media  screen and (max-width: 1200px) {
      padding-top: 40px;
  }
}


.header-wrapper {
  padding: 0;
  margin: 0;
  width: auto;
  height: 1vh;
}

.work-content {
  position: -webkit-sticky;
  position: sticky;
  top: 40%;
  z-index: 1;
  max-width: 50%;
  padding-left: 5vh;
}

@media screen and (max-width: 1200px) {
  .work-content {
    position: static;
    max-width: 100%;
    left: 0;
    margin-top: 18vh;
    padding-left: 0;
  }
}

h1 {
  display: flex;
  justify-content: start;
  font-family: 'Syne', sans-serif; 
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-size: 15vh;
  width: max-content;
  opacity: 0;
  filter: blur(5px);
  animation: fadeInText 2.5s forwards;

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: start;
    font-size: 11vh;
    border-bottom: 1px solid;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    filter: blur(50px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.work-list {
  margin-top: -50vh;
  max-width: 40%;
  margin-left: 55%;

  @media screen and (max-width:1200px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 12rem;
    margin: 0 auto;
    max-width: 100%;
    font-size: 3vh;
  }
}

.work-li {

  padding-top: 12px;
  margin-bottom: -20px;
  visibility: visible !important;
  animation-delay: none;
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
  @media screen and (max-width: 1200px) {
    padding-bottom: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 12vh;
  }

  @media screen and (max-width: 800px) {
    animation: none;
    padding-top: 12px;
    font-size: 6vh;
  }
}

.work-li .title {
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  list-style: none;
  text-decoration: none;
  font-size: 4vh;
  font-weight: 500;
  font-style: italic;

  @media screen and (max-width: 1200px) {
    padding-top: 8rem;
  }
}

.work-li span {
  transition:  500ms ease;
}


.work-container {
  padding: 1rem;
  margin-bottom: 48px;
  border: 2px solid;
  min-width: 75%;
  box-shadow: 5px 5px 1px 0px;
  border-radius: 5px;


  @media screen and (max-width: 1200px) {
    padding: 30px 16px;
  }

}

@media screen and (max-width: 1200px)  {
  .work-container {
      border: 6px solid;
      box-shadow: 12px 12px 1px 3px;
  }
}

.work-img-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vh;

  @media screen and (max-width: 1200px) {
    margin: 1vh;
    display: flex;
    flex-direction: column-reverse;
  }
}

.work-title-wrapper {
  padding-right: 20px;
  max-width: 50%;

  @media screen and (max-width: 1200px) {
    max-width: 100%;
    padding: 0;
    margin-top: -3vh;
}
}

.project-img-wrapper {
  display: flex;
  place-content: center;
  align-items: center;

  @media screen and (max-width:1200px) {
    display: flex;
    justify-content: start;
  }
}

.project-img-container {
  border: 1px solid;
  border-radius: 5px;
  width: 14.5vw;
  height: 10vw;
  overflow: hidden;

  @media screen and (max-width: 1200px) {
    width: 14.5vh;
    height: 10vh;
  }
}

.project-img-container:hover .project-img {
  transform: scale(1.05);
}

.project-img-container::after {
  transition: transform 0.5s ease-in-out;
}

.project-img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

p.work-p {
  font-family: 'MuseoModerno', sans-serif;
  font-weight: 200;
  font-size: 2vh;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 4px;

  @media screen and (max-width: 1200px) {
    font-size: 1.2vh;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.work-li-p {
  font-family: 'Space Mono', monospace;
  padding-bottom: 0.5rem;
  margin: 0;
  font-size: 1.7vh;

  @media screen and (max-width: 1200px) {
    font-size: 2vh;
    border-bottom: none;
  }
}

.work-p-container {
  padding-top: 1.5rem;
  padding-bottom: 1.2rem;
  border-bottom: 0.12rem solid;
}

.work-li-desc {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 2vh;
  padding: 6px 0px;

  @media screen and (max-width: 1200px) {
    padding-top: 1vh;
    padding-left: 1vh;
    font-size: 1rem;
  }
}

.li-work {
  font-style: normal;
  list-style: none;
  font-size: 2vh;

  @media screen and (max-width: 1200px) {
    padding-top: 12px;
    font-size: 3vh;
  }
}

.work-ul {
  padding-top: 2rem;
}